# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# emulators
172*
169*

# mac files
.DS_Store

# eclipse metadata
.metadata

# output
arm*

